.ranking {

    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: black;
    height: 100%;
    font-size: 2vmax;
    padding: 1vmax;
    color: rgb(190, 141, 4);
}

.ranking th {


    background-color: rgb(204, 203, 203);


    color: rgb(3, 0, 65);
    height: 2em;
    width: 15em;

    border-color:rgb(190, 141, 4);
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0.08em;


}

.ranking .five th{
    border-color: rgb(132, 9, 247);
    background-color: cornflowerblue;
}
.ranking tr {
    color: black;
    display: flex;
    justify-content: center;
    


    

    
}