.Home {

    display: flex;
    background-color: bLack;
    color: white;
    flex-direction: column;



    height: 100%;
    width: 100%;
    justify-content: center;


    font-family: 'Bangers', cursive;
    align-items: center;
}
.Home h3 {
    font-size: 5em;

}
