.answer {

    position: absolute;
    justify-items: center;
    background-color: black;
    width: 100%;
    height: 90%;
    display: grid;

    color: white;
    grid-template: "name name"
        " prog prog "
        "prediText prediText"
        "button button"
        "info  result ";

}

.answer .name {
    grid-area: name;

    position: relative;


    display: flex;
    top: 5vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;

    font-size: 2vmax;

    background: linear-gradient(90deg, red, orange) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation-name: textColor;
    animation-duration: 20s;
    animation-iteration-count: infinite; */



}

.answer .info {
    display: flex;
    grid-area: info;
    padding: 2vw;
    gap: 2vw;
    height: 13vmax;
    width: 30vmax;
    bottom: 1em;
    left: 1em;
    font-size: 1.5vmax;
    border-style: dashed;
    border-width: 0.2em;
    border-color: rgb(109, 23, 16);
    color: rgb(255, 153, 0)
}

.answer .info button {

    height: 8vmax;
    width: 10vw;


    left: 20px;
    font-size: 1.9vw;
    font-family: 'Bangers', cursive;

}

.answer .info p {
    display: flex;
    width: 10vw;
    height: 1em;
    top: -10px;
    font-size: 1vmax;
    color: rgb(161, 168, 61);
}


.answer ul {
    display: block;
    list-style-type: disc;
    color: orange;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;


}

.answer .prediText {

    grid-area: prediText;
    position: absolute;
   font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.answer .resultBad {
    grid-area: result;
    position: relative;
    top: 2vm;
    background-color: rgb(148, 24, 24);
}

.answer .resultTrue {
    grid-area: result;

    position: relative;
    top: 2vm;
    background-color: rgb(14, 99, 14);
}

.answer button {

    
    width: 12vmax;
    height: 8vmax;
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    border-style: solid;
    border-color: white;

}

.answer .buttonContainer {
    grid-area: button;
    position: relative;
    top: 1vmax;
    align-items: center;
    justify-content: center;
    gap: 1vm;

}

.answer button:hover {
    background-color: yellow
}

.buttonContainer button:active,
.buttonContainer button:focus {
    background-color: rgb(255, 115, 0);



}

.form {
    left: 0em;
    text-align: center;
    font-size: 1vw;
    bottom: 2em;
    color: grey;

}



.answer p {
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

.answer h2 {

    font-family: 'Courier New', Courier, monospace
}

@keyframes textColor {
    0% {
        color: #0d0404;

    }

    20% {
        color: #370b05;

    }

    40% {
        color: #e43606;
        ;
    }

    60% {
        color: #da5238;
        ;
    }

    80% {
        color: #dc5414;
        ;
    }

    100% {
        color: #0d0404;
    }
}

.yes {
    background-color: rgb(27, 192, 27);
    align-items: center;
    justify-content: center;


}

.no {
    background-color: rgb(189, 27, 27);
    align-items: center;
    justify-content: center;



}

.answer .prog {
    grid-area: prog;
    display: flex;
    position: relative;
    top: -3vh;
    height: 5vh;
    width: 100%;
    

}

.response {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1vw;
    width: 20em;
    position: sticky;

}