.answer {
    display: flex;
    margin-bottom: 10em;
    color: gray;
    flex-direction: column;
    height: -10em;

}

.answer .name {
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    font-size: 5vmax;
}

.answer .info {
    position: fixed;
    width: 10em;
    height: 2.5em;
    bottom: 5vmax;
    left: 1em;
    font-size: 2vmax;
    border-style: dashed;
    border-width: 0.2em;
    padding: 1em;
    border-color: rgb(109, 23, 16);
    color: rgb(255, 153, 0)
}

.answer ul {
    display: block;
    list-style-type: disc;
    color: orange;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;


}

.answer .prediText {
    position: sticky;
    display: block;
    width: 20vw;
    left : 75vw;
    height: 20vh;
    bottom: 15vh;

    font-size: 1.5vmax;
    right: 1px;
    bottom: 0vmax;
    font-family:'Courier New', Courier, monospace;
}
.answer .resultBad {
    position: relative;
    display: block;
    top: 2em;   
    background-color: rgb(148, 24, 24);
}
.answer .resultTrue {
    position: relative;
    display: block;
    top: 2em;   
    background-color: rgb(14, 99, 14);
}
.answer button {

    position: relative;
    top: 6em;
    width: 20vw;
    height: 10vw;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-style: oblique;

    border-style: solid;
    border-color: white;


}
.answer .buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}
.answer button:hover {background-color: yellow}

.buttonContainer button:active, .buttonContainer button:focus{
  background-color: rgb(255, 115, 0);



}
.form {
    position: absolute;
    width: 100vw;
    left: 0em;
    text-align: center;
    font-size: 2vmax;
    bottom: 2em;
    color: grey;

}



.answer p {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.answer h2 {

    font-family: 'Courier New', Courier, monospace
}

.answer h1 {
    position: relative;


    animation-name: textColor;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    align-items: center;
}

@keyframes textColor {
    0% {
        color: #0d0404;

    }

    20% {
        color: #370b05;

    }

    40% {
        color: #e43606;        ;
    }

    60% {
        color: #da5238;        ;
    }

    80% {
        color: #dc5414;        ;
    }
    
    100% {
        color: #0d0404;
    }
}

.yes {
    background-color: rgb(27, 192, 27);
    align-items: center;
    justify-content: center;


}

.no {
    background-color: rgb(189, 27, 27);
    align-items: center;
    justify-content: center;



}

.answer .prog {
    position: fixed;
    top: 22vmax;
    left: 1vw;
    width: 80vw;


}

.response {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    width: 20em;
    position: sticky;

}